<head>
<%= stylesheet_link_tag "style1" %>
</head>

<body>
  <div class="title">TuColegioBQ
  </div>
  <div class="menu"><a data-no-turbolink="true" href="/colegios">INCIO</a> | BUSQUEDA AVANZADA | <a href="/adm_board">ADM</a> | CREDITOS</div>
  </div>
<div id="contenido_adm"><h1><br>Log in</h1></div>
<%= form_tag sessions_path do %>
	<p>
    <%= label_tag :email %><br/>
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password, params[:password] %>
  </p>
  <p class="button"><%= submit_tag %> </p>
  <% end %>
</body>
