<head>
<%= stylesheet_link_tag "style1" %>
</head>

<body>

  <div class="title">TuColegioBQ
  </div>
  <div class="menu"><a data-no-turbolink="true" href="/colegios">INCIO</a> | BUSQUEDA AVANZADA | <a href="/adm_board">ADM</a> | CREDITOS</div>
  </div>
<h1><br><center>Sign Up</center></h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
	 <div class="error_messages">
	   <h2>Form is invalid</h2>
	   <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
	   </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :email %><br/>
    <%=f.text_field :email%>
  </p>
  <p>
    <%=f.label :password %><br/>
    <%=f.password_field :password %>
  </p>
  <p>
    <%=f.label :password_confirmation %><br/>
    <%=f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit%></p>
  <% end%>

</body>
