<head>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDZSrXvdUNa9eOsa_Fqh_Ogs5KBARM-8r8&sensor=true" %>
<%= javascript_include_tag"http://maps.googleapis.com/maps/api/geocode/json?parameters" %>

<%= javascript_include_tag "maps-resultados" %>
<%= stylesheet_link_tag "style1" %>
</head>

<body>
	<div class="title">TuColegioBQ</div>
    <div class="menu"><a data-no-turbolink="true" href="/colegios">INCIO</a> | BUSQUEDA AVANZADA | <a href="/adm_board">ADM</a> | CREDITOS</div>
	<div id="map-canvas"> </div>
	<textarea id="resultado" style="display: none;"><%= @salida%>></textarea><br>
	<div id="space1">
		<div class="text">
			<table class="center">
			  <thead>
			    <tr>
			      <th>Nombre</th>
			      <th>Direccion</th>
			      <th>Estrato</th>
			      <th>Nivel Icfes</th>
			      <th>Enfasis</th>
			    </tr>
			  </thead>
  				<tbody>
			    <% @salida2.each do |co| %>
			      <tr>
			        <td><%= link_to co.nombre+'', co %></td>
			        <td><%= co.direccion %></td>
			        <td><%= co.estrato %></td>
			        <td><%= co.nivel_icfes %></td>
			        <td><%= co.enfasis %></td>
			        
			      </tr>
			    <% end %>
			  </tbody>
</table>
		</div>
	</div>

</body>
