<head>
  <%= stylesheet_link_tag "star-rating" %>
  <%= javascript_include_tag "jquery-1.10.2.min.js" %>
</head>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @colegio.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @colegio.direccion %>
</p>

<p>
  <strong>Nivel icfes:</strong>
  <%= @colegio.nivel_icfes %>
</p>

<p>
  <strong>Estrato:</strong>
  <%= @colegio.estrato %>
</p>

<p>
  <strong>Enfasis:</strong>
  <%= @colegio.enfasis %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @colegio.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @colegio.longitud %>
</p>

<p>
  <strong>Suma ranking:</strong>
  <%= @colegio.suma_rankin %><br>
  <center>
  <span class="stars"><%= @colegio.suma_rankin %></span>
  </center>
  </p>

<p style="display: none;">
  <strong>Numero ranking:</strong>
  <%= @colegio.numero_rankin %>
</p>

<%= link_to 'Edit', edit_colegio_path(@colegio), "data-no-turbolink" => true %> |
<%= link_to 'Back', colegios_path %>

<script>
$.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;
        // Create stars holder
        var $span = $('<span />').width(size);
        // Replace the numerical value with stars
        $(this).html($span);
    });
}

$(function() {
    $('span.stars').stars();
});
</script>